body {
    background-color: rgb(72, 109, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    }



    form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }

    img {
    width: 150px;
    height: 150px;
    margin: 10px;
    object-fit: cover;
    cursor: pointer;
    }
